<div id="container">
  <ion-card button *ngFor="let item of collection">
    <ion-card-header>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle class="ion-text-start">
              <ion-text>ရက်စွဲ {{item.invoiceDate}}
              </ion-text>
            </ion-card-subtitle>
          </ion-col>
          <ion-col size="6">
            <ion-card-subtitle class="ion-text-end">
              <ion-text>
                စာရင်းအမှတ် : {{item.id}}
              </ion-text>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-card-title>{{item.clientName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ဖုန်း {{item.clientPhone}}<br />
      ပမာဏ {{item.totalAmount}} ကျပ်
    </ion-card-content>
  </ion-card>
</div>
