<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="center">
      ရှာဖွေစစ်ဆေးရန်
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="changeText" (click)="this.appSetting.dismissModal()">
        <ion-icon slot="start" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>စာရင်းအချက်လက် ရှာဖွေခြင်း</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">
                  <h6>ကုန်သည်</h6>
                </ion-label>
                <ion-input [(ngModel)]="this.boucher.clientName" debounce="500" (ionChange)="getClient($event)">
                </ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" *ngIf="isItemAvailableClient">
              <div *ngFor="let item of clients">
                <ion-card button (click)="autoCompleteClient(item)">
                  <ion-card-header>
                    <ion-card-subtitle>{{item.id}}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                    {{ item.clientPhone}}
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">
                  <h6>ဖုန်းနံပါတ်</h6>
                </ion-label>
                <ion-input type="tel" [(ngModel)]="this.boucher.clientPhone"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">
                  <h6>ရက်စွဲ အစ</h6>
                </ion-label>
                <ion-input [(ngModel)]="this.searchData.startDate" type="date"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">
                  <h6>ရက်စွဲ အဆုံး</h6>
                </ion-label>
                <ion-input [(ngModel)]="this.searchData.endDate" type="date"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="12">
              <ion-radio-group [(ngModel)]="this.boucher.paid">
                <ion-item lines="none">
                  <ion-label>
                    <p>ငွေရှင်းပြီးစာရင်း</p>
                  </ion-label>
                  <ion-radio slot="start" value='true'></ion-radio>
                </ion-item>

                <ion-item lines="none">
                  <ion-label>
                    <p>ငွေရှင်းရန်ကျန်ရှိစာရင်း</p>
                  </ion-label>
                  <ion-radio slot="start" value='false'></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-col>

          </ion-row>
        </ion-grid>





      </ion-list>
    </ion-card-content>

    <ion-button  (click)="search()"  expand="block">
      ရှာဖွေမည်
    </ion-button>
  </ion-card>

</ion-content>
